
      <div class="container">
        <header>
          <div>
          <p>Welcome, <%= Current.user.email_address %> </p>  
          <%= button_to "Logout", session_path, method: :delete %>
          </div>
        </header>

        <nav>
          <ul>
            <li><%= link_to 'Dashboard', '#' %> </li>
            <li><%= link_to 'Tasks', '#' %> </li>
            <li><%= link_to 'Categories', '#' %> </li>
            <li><%= link_to 'Tags', '#' %> </li>
          </ul>
        </nav>

         <aside>
          <h3>Tags</h3>
          <ul>
            <li>TAGS</li>
          </ul> 
        </aside>

        <footer>
            <p>&copy; <%= Time.current.year %> Task Manager. All rights reserved.</p>
            <div>
              <a href="https://facebook.com" target="_blank">Facebook</a>
              <a href="https://twitter.com" target="_blank">Twitter</a>
              <a href="https://instagram.com" target="_blank">Instagram</a>
            </div>
        </footer>