<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Taskmanager Rails8b" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if Current.user %>
     <div class="container">
        <header>
          <div>
          <p>Welcome, <%= Current.user.email_address %> </p>  
          <%= button_to "Logout", session_path, method: :delete %>
          </div>
        </header>

        <nav>
          <ul>
            <li><%= link_to 'Dashboard', root_path %> </li>
            <li><%= link_to 'Tasks', tasks_path %> </li>
            <li><%= link_to 'Categories', categories_path %> </li>
            <li><%= link_to 'Tags', tags_path %> </li>
          </ul>
        </nav>

        <main>
          <%= yield %>
        </main>
        
         <aside>
          <h3>Tags</h3>
          <ul>
            <li>TAGS</li>
          </ul> 
        </aside>

        <footer>
            <p>&copy; <%= Time.current.year %> Task Manager. All rights reserved.</p>
            <div>
              <a href="https://facebook.com" target="_blank">Facebook</a>
              <a href="https://twitter.com" target="_blank">Twitter</a>
              <a href="https://instagram.com" target="_blank">Instagram</a>
            </div>
        </footer>
        
      <% else %>
          <%= yield %>
      <% end %>
      </div>
  </body>
</html>